button {
    border: 1px solid black;
    background-color: whitesmoke;
    margin: 10px 5px 10px 5px;
    width: 50%;
    height: auto;
}

img {
    height: auto;
}

.loss, .win {
 position: relative;
 /*position: absolute;*/
}

.scoreboard {

    height: 50px;
}

.title-box {
   height: -150px;
}
